<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolCab"

        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
      <activity
            android:name=".DeleteCoordinator"
            android:exported="false" />
        <activity
            android:name=".UpdateCoordinator"

            android:exported="false" />
        <activity
            android:name=".AttendanceAddActivity"
            android:exported="false" />
        <activity
            android:name=".BusDashboard"
            android:exported="false" />
        <activity
            android:name=".ViewPreviousNotifications"
            android:exported="false" />
        <activity
            android:name=".NotificationSend"
            android:exported="false" />

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".UploadStudents"
            android:exported="false" />
        <activity
            android:name=".StudentDashBoard"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".StudentAddUpdatePage"
            android:exported="false" />
        <activity
            android:name=".EditStudentDetails"
            android:exported="false" />
        <activity
            android:name=".SearchStudent"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />

        <activity
            android:name=".SchoolLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_school_login"
            android:theme="@style/Theme.SchoolCab.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SchoolNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoOrdinatorRegistration"
            android:exported="false" />
        <activity
            android:name=".CoordinatorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".BusLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BusDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GpsTempActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoordinatorLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoordinatorDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBusActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>